* {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #fdcd00;
}

nav{
    background-color: rgba(0, 0, 0, 0.361);
    margin: -8PX;
}

.intro{
    padding-top: 41px;
    padding-left: 39%;
    position: fixed;
    vertical-align: middle;
}
.symbol{
    margin-top: 23%;
    margin-left: -41%;
    margin-bottom: -12%;
}
ul {
    list-style: none;
    margin-top: -2%;
}

ul li {
    top: 0%;
    position: relative;
    display: inline-block;
}

ul li a {
    margin: 0%;
    display: block;
    padding: 20px 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: large;
    
}
ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    padding-top: 4%;
    padding-left: 0%;
    width: 347%;
    background: #000000;
    position: absolute;
    display: none;
    top: 118%;
}
ul li a:hover {
    margin: 0%;
    background: #4d4d4d56;
}

ul li:hover ul.dropdown {
    display: block;
}
.menu{
    padding-left: 91%;
    padding-top: 7%;
    font-weight: bold;
    font-size: small;
}
.title{
    margin: -78px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.299);
    padding-top: 6%;
    padding-left: 50%;
    font-size: x-large;
    font-weight: bold;
} 
.homepage{
    font-size: large;
    padding-top: 3.5%;
    padding-left: 9%;
}
.image{
    width: 9%;
    float: left;
    padding-top: 2.5%;
    padding-left: 16.5%;
}
h1{
    font-size: xxx-large;
}
.iteam{
    width: 40%;
    float: LEFT;
    font-size: large;
    padding-top: 0.5%;
    MARGIN-left: 34%;
}
.video{
    padding-left: 42%;
    font-size: xxx-large;
    padding-top: 35%;
    font-weight: 600;
}
.vid{
    margin-top: 12%;
    margin-left: -43%;
}
.tech{
    font-weight: bold;
    font-size: xx-large;
    padding-top: 13%;
    padding-left: 44%;
}
.image2{
    padding-left: 16%;
    padding-top: 9%;
    padding-bottom: 9%;
}
.container {
    width: 26%;
    padding-top: 4%;
    padding-left: 38%;
    padding-bottom: 9%;
}
.advan{
    font-weight: bold;
    font-size: xx-large;
    padding-top: 6%;
    padding-left: 37%;
}
.advan_list{
    width: 31%;
    padding-top: 4%;
    padding-left: 37%;
    
}
.col-sm-3{
    padding-bottom: 9%;
}

.title{
    margin-left: -11%;
    font-family: inherit;
    font-size: x-large;
    font-weight: 600;
}
.group1{
    float: right;
    width: 32.33%;
    padding: 5px;
}

.containers{
    padding-left: 22%;
    padding-top: 16%;
}
.containers::after{
    content: "";
    display: table;
    clear: both;
}
.h4{
    color: #000000;
}
.socialmedia{
    color: white;
    cursor: pointer;
    font-size: larger;
    letter-spacing: 12px;
    background-color: rgba(16, 16, 16, 0.591);
    position: fixed;
    bottom: -3px;
    left: 0px;
    width: 97%;
    padding: 25px;
    text-align: center;
}
.socialmedia i:hover{
    color: rgb(255, 255, 255);
}
.rights{
    color: rgb(0, 0, 0);
    padding-left: 81%;
    padding-top: 0%;
    font-size: x-small;
    font-weight: 700;
}details{
    position: fixed;
    bottom: -3px;
    left: -5px;
    width: 97%;
    padding: 35px;
    text-decoration: none;
    text-align: end;
    cursor: pointer;
}
details a:hover{
    color: rgb(255, 255, 255);
    font-size:large;
    transition: 0.1s;
}
summary{
    margin-left: 46%;
    margin-top: -58%;
    line-height: 5;
}
